@if ($Use_Alert_Defaults == true) {
  .ringa-component.alert {
    position: relative;

    .message {
      width: 100%;
      text-align: center;
    }

    .buttons {
      justify-content: space-between;
      align-items: center;
      text-align: center;

      .button {
      }
    }
  }
}