//--------------------------------
// Generic
//--------------------------------
$white: #FCFCFC;

$black: #333;
$black-2: #444;
$black-3: #666;

$grey-1: #CCC;
$grey-2: #EDEDED;
$grey-3: #F2F2F2;
$grey-4: #FDFDFD;

$error-red: red;

$debug-orange: #FFA500;

//--------------------------------
// Theme
//--------------------------------
$ringa-color: #023149;
$ringa-color-text: $white;

$ringa-color-2: #439DCA;
$ringa-color-text-2: $white;

$hover-1: rgba(235, 242, 242, 0.7);
$selected-1: rgba(235, 242, 242, 1);

//--------------------------------
// Elements
//--------------------------------
$theme-background: none;
