@import './variables';

@mixin hover-1 {
  background: none;
  transition: background $time-1 linear;

  &:hover {
    background: $hover-1;
  }
}

@mixin drop-shadow-1 {
  -webkit-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 3px 1px rgba(0,0,0,0.5);
}