@if ($Use_FormMessage_Defaults == true) {
  .ringa-component.submit-message {
    padding: $pad1;

    .error {
      background-color: $error-red;
      color: $white;
    }

    .empty {
    }
  }
}