@import '../../styles/themes/classic/variables';

.ringa-component.tab-navigator {
  display: flex;
  flex-direction: column;

  .button.tab {
    flex: 0 0 auto;
    font-size: 16px;
    padding: $pad2;
    border-top: 1px solid $grey-1;

    &:first-child {
      border-left: 1px solid $grey-1;
    }

    &:last-child {
      border-right: 1px solid $grey-1;
    }
  }

  .content {
    flex: 1 1 auto;
    min-height: 0;
    border: 1px solid $grey-1;
    overflow: auto;
    height: 100%;
  }
}