@import '../../styles/themes/classic/variables';

.modal {
  position: absolute;
  pointer-events: all;

  min-width: 200px;
  min-height: 75px;

  .modal-header {
  }

  .drag-wrapper {
    &.dragging {
      .modal-header {
      }
    }
  }

  .modal-contents {
    &.show-header {
    }
  }
}