.ringa-component.modal {
  @include modal-effects;

  position: absolute;
  pointer-events: all;

  min-width: 200px;
  min-height: 75px;

  background: $white;

  z-index: $modal-z-index;

  .modal-header {
  }

  .drag-wrapper {
    &.dragging {
      .modal-header {
      }
    }
  }

  .modal-contents {
    &.show-header {
    }
  }
}