@if ($Use_DataGridCellRenderer_Defaults == true) {
  .data-grid-cell {
    padding: $vertical-pad-1 $horizontal-pad-1;
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    align-items: center;

    .data-grid-cell-label {
      width: 100%;

      &.ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}