@if ($Use_DataGridHeaderCellRenderer_Defaults == true) {
  .data-grid-header-cell {
    padding: $vertical-pad-1 $horizontal-pad-1;
    overflow: hidden;
    flex: 0 1 auto;

    &.ellipsis {
      .label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}