@if ($Use_DataGridHeader_Defaults == true) {
  .data-grid-header {
    display: flex;
    flex-direction: column;
    background: $grey-2;
    flex: 0 0 auto;

    .functions {
      .title {

      }

      .search {

      }
    }

    .cells {
      display: flex;

      &.horizontal {
        flex-direction: row;
        width: 100%;
      }
    }
  }
}