/**
 * CSS for the component you are inspecting right now.
 */
.inspecting {
  background-color: rgba(239,118,0,0.9) !important;
}

.debug-inspector {
  width: 100%;
  height: 100%;
  position: relative;
  transition: height 0.2s ease-in-out;
  background: #ef7600;
  color: $white;

  .show {
    height: 300px;
  }

  .panels {
    display: flex;
    flex-wrap: nowrap;
    padding: 1rem;

    font-size: 11px;

    .panel {
      flex: 0 1 20em;
      margin: 0em .5em;

      .object {
        padding: 3px;
        cursor: pointer;
        transition: background-color 0.2s ease-out;
      }

      .object:hover {
        background-color: $grey-1;
      }

      .panel-content {
        overflow: auto;
        height: 180px;
        border: 1px solid #ef7600;
        max-width: 20em;
        background: $white;
      }

      .title {
        margin-bottom: 5px;
        font-size:14px;
        font-weight: bold;
      }

      .subtitle {
        margin-bottom: 5px;
        font-size: 11px;
        font-style: italic;
      }

      .detail {
        margin: 5px;
        padding :5px;
        background: #ef7600;

        .label {
          display: inline-block;
        }

        .value {
          float: right;
          font-weight: bold;
          display: inline-block;
        }
      }
    }

    .panel.settings {
      .detail {
        height: 21px;
      }

      input {
        width: 30px;
        float:right;
      }

      .btn {
        margin: 5px;
        display: inline-block;
        cursor: pointer;
        color: $white;
        padding: 4px;
        border: 1px solid #ef7600;
      }

      .btn:hover {
        color: $white;
      }

      .btn-reset {
        float: left;
      }

      .btn-commit {
        float: right;
      }
    }
  }
}

.inspector-content {
  margin: 10px;
  padding: 15px;
  height: calc(100% - 50px);
  width: calc(100% - 50px);
  background: #ef9622;
}

//------------------------------------------
// Inspectee (mouse hover)
//------------------------------------------
.inspectee {
  position: fixed;

  pointer-events: none;
  padding: 5px;
  font-size: 10px;

  background-color: $black !important;
  color: $white;
  z-index: 20000;

  width: 100%;

  opacity: 0.87;

  .markdown {

    .component {
      color: #FFFF44;
    }

    .ringacomponent {
      color: #FF9999;
    }

    .controller {
      color: #44FF44;
    }
    .model {
      color: #99FFFF;
    }

    .inspectee-group {
      margin: 1px;
      background-color: $black-2;
      border: 1px solid $grey-1;
      border-radius: 3px;
      padding: 0 3px;
    }

    h2 {
      border-bottom: 1px solid $white;
    }

    h1, h2, h3, h4, h5 {
      margin: 0;
      color: $white;
    }

    ul, li {
      margin: 0;
      color: $white;
    }
  }
}

.inspectee-top {
  top: 0;
  left: 0;
}

.inspectee-bottom {
  bottom: 0;
  left: 0;
}

