@import '../../styles/themes/classic/variables';

.ringa-component.tooltip {
  @include drop-shadow-1;

  background: $grey-1;
  padding: $pad1;
  position: absolute;
  pointer-events: all;
  overflow-x: hidden;

  .message {
    width: 100%;
  }

  .children {

  }

  &.debug {
  }

  &.error {
    background-color: $error-red;
    color: $white;
  }
}