@import '../../styles/themes/classic/variables';

.tooltip {
  position: absolute;
  pointer-events: all;
  overflow-x: hidden;

  .message {
    width: 100%;
  }

  .children {

  }

  &.debug {
  }

  &.error {
  }
}