@import '../../src/styles/themes/classic/variables';

.app-footer {
  display: flex;
  justify-content: space-between;
  position: absolute;;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  line-height: 20px;
  border-top: 1px solid $grey-3;

  font-size: 11px;

  .debug {
    color: $debug-orange;
    font-weight: bold;
    width: 100%;
  }

  .build {
    flex: 0 0 auto;
  }
}