@import '../../src/styles/themes/classic/variables';

.app-header {
  width: 100%;
  padding: 1em 0;

  .header-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    color: $white;

    .title {
      margin-left: $pad3;
      line-height: 21px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      margin-left: $pad3;
      color: $ringa-color-2;
      cursor: pointer;
    }

    .subtitle {
      padding-left: 1em;
      font-size: 16px;
      flex: 0 0 1;
    }

    .links {
      line-height: 20px;
      flex: 1 0 auto;
      padding-right: 1em;

      .Dropdown-root {
        width: 100%;
      }
    }
  }
}